﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input name="Name" id="CategoryName" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input name="Description" id="CategoryDescription" /></td>
        </tr>
        <tr>
            <td><label>Image</label>
            <input name="ImageURL" id="ImageURL" type="hidden"/></td>
            <td><input name="Immage" type="file" accept=".png,.jpg" id="imageUpload" /></td>
        </tr>
        <tr>
            <td></td>
            <td><img id="categoryImage"/></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: "/Base/UploadImage",
   			dataType: 'json',
			data: formData,
			contentType: false,
            processData: false,
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#categoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>