﻿@model  Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<form method="post">
    <table>
        <tr>
            <td></td>
            <td>
                <label>Are you sure to delete</label>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Delete</button>
            </td>
        </tr>
    </table>
</form>

<a href="/Index">Cancel</a>