﻿@model  Category
  
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

<form method="post">
    <table>
        <tr>
            <td>
            </td>
            <td>
                <input type="hidden" name="ID" value="@Model.ID" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input name="Name" value="@Model.Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Description</label>
            </td>
            <td>
                <input name="Description" value="@Model.Description" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
