﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form method="post" id="createProduct">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input name="Name"/></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input name="Description"/></td>
        </tr>
        <tr>
            <td><label>Price</label></td>
            <td><input name="Price"/></td>
        </tr>
        <tr>
            <td><button id="saveBtn" type="button">Save</button></td>
        </tr>
    </table>
</form>
<script>

    $("#saveBtn").click(function () {
        $.ajax({
            type:'POST',
            url: "/Product/Create",
            data: $("#createProduct").serialize(),
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionConatiner").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>
