﻿@model  Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form method="post" id="editProduct">
    <table>
        <tr>
            <td><input name="ID"  value="@Model.ID" type="hidden" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input name="Name" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input name="Description" value="@Model.Description" /></td>
        </tr>
        <tr>
            <td><label>Price</label></td>
            <td><input name="Price" value="@Model.Price" /></td>
        </tr>
        <tr>
            <td><button id="updateBtn" type="button">Update</button></td>
        </tr>
    </table>
</form>
<script>

    $("#updateBtn").click(function () {
        $.ajax({
            type:'POST',
            url: "/Product/Edit",
            data: $("#editProduct").serialize(),
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionConatiner").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>
