﻿@model  List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <input name="Search" id="searchTxt"/>
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button id="newBtn">new</button>
</div>
<div >
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url:"/Product/ProductTable",
            data: {
            search: searchValue
           }
       })
            .done(function (response) {
                $("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("fail");
        });
    });
        $("#newBtn").click(function () {
        $.ajax({
            url:"/Product/Create",
       })
            .done(function (response) {
                $("#actionConatiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("fail");
        });
        });

    $(".editBtn").click(function () {
        //debugger
        $.ajax({
            url: "/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
       })
            .done(function (response) {
                $("#actionConatiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("fail");
        });
    });
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure !");
        if (confirmDelete) {
            $.ajax({
                type: "POST",
                url: "/Product/Delete",
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (response) {                    
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("fail");
                });
        }
    });
</script>